html{
margin: 0;
	padding: 0;
}
body {
margin: 0px;
padding: 0px;
background: url(bg.jpg) ;
color: #333439;
}

section{
padding: 1% 10% 1% 10%;
	margin: 0;
	position: relative;
}

.first{
vertical-align: middle;
color: #BDC0CE;
font-size: 60px;
font-family: "Courier New", Times, serif;
 text-align: center;
 height: 150px;
 width:100%;
 background: url(smoke.jpg) no-repeat top left;
 )
}
.contentE{
font-size: 40px;
height: 100px;
color: #333439;
background: #333439 url(color.png) no-repeat center;
padding: 5% 10% 5% 10%;
position:relative;
}
.contentE:hover{
font-size: 40px;
height: 250px;
color: #333439;
background-color: gray;

}

.contentO{
font-size:40px;
height: 250px;
 text-align: right;
 background-color: gray;
 color: gray;
 background-color: #333439;
 padding: 5% 10% 5% 10%;
 position:relative;
}