html{
margin: 0;
	padding: 0;
}
body {
margin: 0px;
padding: 0px;
background: url(bg.jpg);
color: #333439;
}




section{
padding: 2% 10% 2% 10%;
	margin: 0;
	position: relative;


}

.first{
vertical-align: middle;
color: #BDC0CE;
font-size: 40px;
font-family: "Courier New", Times, serif;
 text-align: center;
 height: 100px;
  background: url(smoke.jpg) no-repeat top left;
}
.contentE{
font-size: 20px;
height: 200px;
background-color: gray;
padding: 5% 10% 5% 10%;
position:relative;
color: gray;
background-color: #333439;
color: #333439;
background: #333439 url(color.png) no-repeat center;

}
.contentE:hover {

font-size: 20px;
height: 200px;
color:  #333439;
background-color:gray;
}
.contentO{
padding: 5% 10% 5% 10%;
position:relative;
height: 200px;
font-size:20px;
 text-align: right;
 color: gray;
 background-color: #333439;
}