#attacks-panel{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: gray;
    color:black;
    width:100%;
    height:1200px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
   
    
}
#users-panel{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
    background-color: gray;
    color:black;
    width:100%;
    height:500px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    border-radius: 5px;
}
.acolumns{
    display:flex;
    flex-direction: column;
    margin-top:3%;
    margin-bottom:3%;
    background-color: darkgrey;
    margin-bottom:50px;
    color:black;
    width:28%;
    height:90%;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    border-radius: 5px;
    text-align: center;
    
}

body{
    background-color: darkgrey;
    text-align: center;
}

.inputAdmin {
    display: block;
    margin-top: 10px; 
    margin-bottom: 10px;
  border: 1px solid #737373;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
	background-color: #cccccc;
    width: 70%;
}

.inputAdminUs {
    display: block;
    margin-top: 10px; 
  border: 1px solid #737373;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
	background-color: #cccccc;
    width: 70%;
}
.admButton {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background:#505e75;
    position: relative;
    margin-top:20px;
    align-self: center;
    width:70%;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 5px;
}

