<<<<<<< HEAD

#chartdiv {
  
  color: #999999;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  height: 600px;
}

#chart-text {
  margin-top: 280px;
  font-family: Coldiac, serif;
}
.amcharts-amexport-item {
    border: 2px solid #777;
    background-color: black;

  }
  
.amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
    top: -3px!important;
    left: 2px
  }
  
.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-animation: pulse 1.5s infinite ease-out;
            animation: pulse 1.5s infinite ease-out;
    background: #346ab4;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
  }
  .dot:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.4);
  }
  
  @media (min-width: 768px) {
    .dot {
      width: 16px;
      height: 16px;
    }
    .dot:before {
      width: 4px;
      height: 4px;
    }
    
=======

#chartdiv {
  
  color: #999999;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  height: 600px;
}

#chart-text {
  margin-top: 280px;
  font-family: Coldiac, serif;
}
.amcharts-amexport-item {
    border: 2px solid #777;
    background-color: black;

  }
  
.amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
    top: -3px!important;
    left: 2px
  }
  
.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-animation: pulse 1.5s infinite ease-out;
            animation: pulse 1.5s infinite ease-out;
    background: #346ab4;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
  }
  .dot:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.4);
  }
  
  @media (min-width: 768px) {
    .dot {
      width: 16px;
      height: 16px;
    }
    .dot:before {
      width: 4px;
      height: 4px;
    }
    
>>>>>>> a970f1e3a534c40bde482ad4a16985e8dec28cc5
  }