html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Coldiac';
    src: url('../resources/fonts/Coldiac.otf');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 70px;
    z-index: 11;
    overflow: hidden; 
    display: flex;
    align-items: center; 
}

.containerNav{
    width: 95%;
    margin: 0 auto;
    
}
.llogo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.75);
    width: 60px;
    float: left;
}

.logo_div{
    margin-left: 80px;
    line-height: 4em;
}

.meniu li a{

    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

.meniu li a:hover{
    color: #997300;
    transition: 0.4s;
}

.meniu{
    float:right;
    
}

.meniu li{
float: left;
line-height: 70px;
text-align: center;
list-style: none;
align-items: center;
margin-left: -10px;
margin-right: -10px;
}


.sections{
    width: 100%;
    position: relative;
}


.sections::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#head{
    padding-bottom: 150px;
    background-image: url('../resources/images/main_cover2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    z-index: 10;

}
#section1{
    background: #4d4d4d;
    z-index: 9;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#section2{
    background: darkgray;
    z-index: 8;
}
#section3{
    background: #4d4d4d;
    z-index: 7;
}
#section4{
    background:  #4d4d4d;
    z-index: 6;
    margin-bottom: 250px;
}

#section5{
    background: darkgray;
    z-index: 5;
}

#head:after,
#section1:after,
#section3:after{
    transform-origin: left bottom;
    transform: skewY(2deg);
}
#section2:after{
    transform-origin: right bottom;
    transform: skewY(-2deg);
}
.title-content{
    font-family: Coldiac, serif;
    color: lightgray;
    padding-top: 0;
    padding-bottom: 200px;
    overflow: hidden;
    display: block;
    height: auto;
}
.title-content h1{
    font-size: 472%;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 0;
}
.title-content h2{
    position: relative;
    color: lightgray;
    font-size: 103%;
    margin-left: 5%;
}

.content{
    text-align: center;
    padding: 200px 50px;
    overflow: hidden;
    display: block;
    height: auto;

}

#teamsParent {text-align: center;}

.topText{
    color: navy;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 50px;
}


hr{
width: 70%;
position: relative;
top:-4px;
}
 

img {
  width: 100%;
  max-width: 100%;
}

#map {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}


.footer{
    background-color: #a6a6a6;
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    height:250px;
    justify-content: center;
    align-items: center;
}



  /*nu merge pt sign in*/
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .signIn {
        float: none;
        width: 100%;
        display: block;
      }
      .logIn{
        float: none;
        width: 100%;
        display: block;
      }
  }
  

#nav1{
    color: #d9d9d9; ;
}

#nav2{
    color: #d9d9d9; ;
}
#nav3{
    color: #d9d9d9; ;
}
#mapdiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

