#mapdiv {
    font-family: Coldiac, serif;
    color: #4d4d4d;
    line-height: 600px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);

  }
  #map {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }
  .smaller{
    font-family: Coldiaf, serif;
    font-size: 23px;
    margin-bottom: 3%;
    width: 70%;
    align-self: center;
    height: 25px;
    cursor: pointer;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid gray;
    color: black;
    appearance: none;
    padding: 10px;
    padding-right: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}