body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Coldiac';
    src: url('Coldiac.otf');
    font-weight: normal;
    font-style: normal;

}
.navigation_bar{
    position: fixed;
    display: flex; /* for organising direct children */
    justify-content: right; /* how the browser manages space around flex elements */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* elements are not forced to be in one line */
    background-color: black;
    width: 100%;
    height: 70px;
    z-index: 11;
}

li a{

    margin: 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;


}
li a:hover{
    color: gray;
}
img:hover{ opacity:0.5;}

.navigation_ul{
    display: flex;
    justify-content: right;
    align-items: end;
    list-style: none;
    margin-right: 2%;
}
.sections{
    width: 100%;
    position: relative;
}
.sections:after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#head{
    padding-bottom: 150px;
    background: url('main_cover2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    z-index: 10;

}
#section1{
    background: lightgray;
    z-index: 9;
}
#section2{
    background: darkgray;
    z-index: 8;
}
#section3{
    background: lightgray;
    z-index: 7;
}
#section4{
    background: darkgray;
    z-index: 6;
}

#head:after,
#section1:after,
#section3:after{
    transform-origin: left bottom;
    transform: skewY(2deg);
}
#section2:after{
    transform-origin: right bottom;
    transform: skewY(-2deg);
}
.title-content{
    font-family: Coldiac, serif;
    color: lightgray;
    padding-top: 0;
    padding-bottom: 200px;
    overflow: hidden;
    display: block;
    height: auto;
}
.title-content h1{
    font-size: 472%;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 0;
}
.title-content h2{
    position: relative;
    color: lightgray;
    font-size: 103%;
    margin-left: 5%;
}

#chartdiv {
    width: 100%;
    height: 500px;
}
.content{
    text-align: center;
    padding: 200px 50px;
    overflow: hidden;
    display: block;
    height: auto;

}

#teamsParent {text-align: center;}

.team {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 0px;
}

.box {
    padding: 15px;
    border: 15px solid gray;
    margin: 20px;
    float: left;
    width: 175px;
    height: 35px;
    margin-right: 30px;
    text-align: center;
    line-height:1.5em;
    background-color:black;
    color: darkgray;
}

.box:hover{
    background-color:gray;
    color:black;
    border: 15px solid black;
 }

.email{
    line-height:0em;
    color: black;
}
.instructions {
    line-height:3em;
}
